<div class="course-card bg-light p-2">
	<div class="d-flex justify-content-end mt-2 mb-1">
		<h3 class="mr-4 mt-2">Title:</h3>
		<span class="assign-btn btn btn-info m-1" title="Assign" (click)="onAssignClick()">Assign to this course</span>
		<span class="edit-btn btn btn-success m-1" (click)="onCourseEdit()">Edit</span>
		<span class="delete-btn btn btn-danger m-1" tooltip="Delete" placement="top"
			container="body"title="Delete" (click)="onDeleteClicked()">X</span>
	</div>
	<div class="info-holder">
		<div class="title mt-2 mb-2">
			<h3>{{ course.title }}</h3>
		</div>
		<div class="description">
			<strong>Description: </strong><span>{{ course.description }}</span>
		</div>
		<div class="rating">
			<strong>Rating: </strong><span>{{ course.rating }}</span>
		</div>
		<div class="assignee">
			<strong>Assignee: </strong><span>{{ course.assigneeId }}</span>
		</div>
	</div>
</div>