<div class="login-holder">
	<div class="container">
		<div class="form-holder bg-light">
			<h3>Register in</h3>
			<h3><em>Courses <span class="h2">@</span>cademy</em></h3>
			<form [formGroup]="registerForm" (ngSubmit)="onRegister()">
				<div class="row">
					<div class="col-12">
						<div class="form-group">
							<label>Username</label>
							<input type="text" class="form-control" formControlName="username">
							<div class="error" *ngIf="username?.errors">
								<span class="text-danger" *ngIf="username.errors.required">
									This field is required.
								</span>
								<span class="text-danger" *ngIf="username.errors.minlength">
										The min length is 3.
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="form-group">
							<label>Email</label>
							<input type="text" class="form-control" formControlName="email">
							<div class="error" *ngIf="email?.errors">
								<span class="text-danger" *ngIf="email?.errors?.required">
									This field is required.
								</span>
								<span class="text-danger" *ngIf="email?.errors?.email">
									Not valid email syntax.
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="form-group">
							<label>Password</label>
							<input type="password" class="form-control" formControlName="password">
							<div class="error" *ngIf="password?.errors">
								<span class="text-danger" *ngIf="password?.errors?.required">
									This field is required.
								</span>
								<span class="text-danger" *ngIf="password?.errors?.minlength">
									The min length is 5.
								</span>
							</div>
						</div>
					</div>
				</div>
					<div class="row">
						<div class="col-12">
							<div class="form-group">
								<label>Name</label>
								<input type="text" class="form-control" formControlName="name">
								<div class="error" *ngIf="name?.errors?.required">
									<span class="text-danger">
										This field is required.
									</span>
								</div>
							</div>
						</div>
					</div>
				<div class="row">
					<div class="col-12">
						<div class="form-group">
							<label>Picture</label>
							<input type="text" class="form-control" formControlName="picture">
							<div class="error" *ngIf="name?.errors?.required">
								<span class="text-danger">
									This field is required.
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col m-1">
						<button type="submit" class="btn btn-primary" [disabled]="!isFormValid">Register</button>
					</div>
					<div class="col m-1">
						<a routerLink="/auth/login" class="btn btn-primary">Log in</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>