<div class="user-card bg-light p-3">
	<div class="row">
		<div class="col-sm">
			<h3>{{ user.name }}</h3>
		</div>
		<div class="col-sm text-right">
			<span class="btn btn-success m-1" (click)="onUserEdit()" *ngIf="canEdit">Edit</span>
			<span class="btn btn-danger m-1" tooltip="Delete" placement="top"
				container="body" title="Delete" (click)="onDeleteClicked()" *ngIf="canDelete">X</span>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<div class="image-holder">
				<img class="img-fluid user-img" [src]="getUserImage()" alt="user picture" />
			</div>
		</div>
		<div class="col-sm">
			<div class="info-holder">
				<div class="username">
					<strong>Username: </strong><span>{{ user.username }}</span>
				</div>
				<div class="email">
					<strong>Email: </strong><span>{{ user.email }}</span>
				</div>
				<div class="isBlocked" *ngIf="canEdit">
					<strong>Blocked: </strong><span>{{ user.isBlocked ? 'Yes' : 'No' }}</span>
				</div>
				<div class="role" *ngIf="canEdit">
					<strong>Role: </strong><span>{{ user.role === 1 ? 'Admin' : 'User' }}</span>
				</div>
			</div>
		</div>
	</div>
</div>