<div class="user-card bg-light p-2">
	<div class="d-flex justify-content-end flex-wrap mt-2 mb-1">
		<h3 class="mr-5">{{ user.name }}</h3>
		<span class="edit-btn btn btn-success m-1" (click)="onUserEdit()">Edit</span>
		<span class="delete-btn btn btn-danger m-1" tooltip="Delete" placement="top"
			container="body" title="Delete" (click)="onDeleteClicked()">X</span>
	</div>
	<div class="row flex-wrap">
		<div class="col-sm">
			<div class="image-holder">
				<img class="user-img" [src]="getUserImage()" alt="user picture" />
			</div>
		</div>
		<div class="col-sm">
			<div class="info-holder">
				<div class="username">
					<strong>Username: </strong><span>{{ user.username }}</span>
				</div>
				<div class="email">
					<strong>Email: </strong><span>{{ user.email }}</span>
				</div>
				<div class="isBlocked">
					<strong>Blocked: </strong><span>{{ user.isBlocked === '0' ? 'No' : 'Yes' }}</span>
				</div>
			</div>
		</div>
	</div>
</div>